body {
    font-family: 'Roboto Mono', sans-serif;

}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

.top-context {
    height: 100vh;
    background-image: url('/../img/ring.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.main-font {
    font-family: 'Josefin Sans', sans-serif;
}

.header-break {
    height: 400px;

}

.header-break__text {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}

.header-break__author {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.parallax-1 {
    height: 200px;
    background-image: url('/../img/kick.webp');
    background-size: cover;
    background-repeat: no-repeat;

}

.parallax-2 {
    height: 200px;
    background-image: url('/../img/pounch.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel,
.carousel-item,
.carousel-inner {
    height: auto;
}

.blockquote-footer {
    font-size: 1.5em;
}

.card-deck {
    margin: 0;
}

.map {
    width: 100%;
    height: auto;

}

.nav-link,
.navbar-brand {
    font-size: 1.5em;
}

.nav-link:hover {
    color: white;
}


/* Media queries */

@media screen and (min-width: 768px) {
    .header-break {
        height: 400px;

    }

    .header-break__text {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.5em;
    }

    .header-break__author {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .parallax-1 {
        width: 100%;
        height: 400px;
        background-image: url('/../img/kick.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .parallax-2 {
        width: 100%;
        height: 400px;
        background-image: url('/../img/pounch.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.30);
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

    }

    #main {
        height: auto;
       
    }

    .carousel,
    .carousel-item,
    .carousel-inner,
    .slide-item {
        height: auto;
        width: 700px;

    }

    .slide-show {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .blockquote-footer {
        font-size: 1.5em;
    }

    .card-deck {
        margin: 0;
       
    }

    .about-text {
        height: 400px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .about-text>p {
        width: 60%;
        font-size: 1.5em;
    }

    .team {
       height:auto;
    }

    .form-contact {
        display: flex;

    }

    .map {
        width: 100%;
        height: 600px;
    }

    .address,
    .footer-copyright {
        font-size: 1.3em;
    }

    .break-line {
        background-color: #fff;
        border-top: 2px dashed #8c8b8b;
        width: 80%;
    }

    .nav-item{
        height: 45px;
    }
   .nav-link{
    color: rgba(255,255,255,1) !important;
    
    padding-top: 0;
    padding-bottom: 0;
   }
   .nav-link:hover{
    border-bottom: white 2px solid;
   }
   .navbar-nav{
       height: 100%;
   }
    .bg-dark{
        background-color: rgba(0, 0, 0, 1) !important;
    }


}
