body {
    font-family: 'Roboto Mono', sans-serif;

}
.nav, .sidebar{
    padding: 0;
  
}

.nav-link{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 0;
}
.nav-link:hover{
    color: rgb(0, 0, 0);
}
#admin-sidenav{
    height: 100vh;
}